<div id="featured_<%=featured_project.dom_id%>_container" class="featured-project-container <%=no_show%>">
  <div class="feature-indicator" style="margin-left:<%=calculate_indicator_position(@featured_project_items[featured_project.id].first, @featured_project_first_items)%>px"></div>
  <div class="feature"> 
  	<div class="feature-holder">
  	  <%= render 'projects/options_list', :project => featured_project %>
  		<h2 class="text-feature">featured re-enactment</h2>
  		<div class="row">
  		  <h3 class="text-sinking"><%= link_to featured_project.title, featured_project %></h3>
  			<div class="img-holder"> 
  				<%= link_to image_tag(featured_project.photo.url(:medium)), featured_project %>
  			</div>
  			<ul class="cite-list">
  			  <%= render :partial => 'projects/item', :collection => @featured_project_items[featured_project.id], :locals => { :project => featured_project } %> 
  			</ul>
  		</div>
  	</div>
  </div>
  <p><%= featured_project.description %></p>
</div>