<div id="contact">

  <%= output_errors('', {:class => 'help-box'}) %>
  
	<h2><%= I18n.t('contact.contact_us') %></h2>

	<% form_tag('/contact', :id => "contact_form") do -%>
	
	  <div class="row clear">
	    <label for="name"><%= I18n.t('contact.name') %></label>
	    <div class="form-help"><%= I18n.t('contact.name_help') %></div>
	    <input type="text" id="name" name="name" />
	  </div>

	  <div class="row clear">
	    <label for="phone"><%= I18n.t('contact.phone') %></label>
			<div class="form-help"><%= I18n.t('contact.phone_help') %></div>
	    <input type="text" id="phone" name="phone" />
	  </div>

	  <div class="row clear">
	    <label for="email"><%= I18n.t('contact.email') %></label>
			<div class="form-help"><%= I18n.t('contact.email_help') %></div>
	    <input type="text" id="email" name="email" />
	  </div>

	  <div class="row clear">
	    <label for="subject"><%= I18n.t('contact.subject') %></label>
			<div class="form-help"><%= I18n.t('contact.subject_help') %></div>
	    <input type="text" id="subject" name="subject" />
	  </div>
	
	  <div class="row clear">
	    <label for="message"><%= I18n.t('contact.question') %></label>
	    <div class="form-help"><%= I18n.t('contact.question_help') %></div>
			<textarea id="message" name="message"></textarea>
	  </div>

	  <input type="submit" value="<%= I18n.t('general.send') %>" class="button"/>
  
	  <div class="clear"></div>

	<% end -%>
		
</div>