<div id="contact" class="common-form">
  
  <%= output_errors('', {:class => 'help-box'}) %>
  
	<h2><%= I18n.t('contact.contact_us') %></h2>

	<% form_tag('/contact', :id => "contact_form") do -%>
	
	  <div class="row clear">
	    <%= label_tag 'name', I18n.t('contact.name') %>
	    <div class="form-help"><%= I18n.t('contact.name_help') %></div>
	    <%= text_field_tag 'name', params[:name] %>
	  </div>

	  <div class="row clear">
	    <%= label_tag 'phone', I18n.t('contact.phone') %>
			<div class="form-help"><%= I18n.t('contact.phone_help') %></div>
			<%= text_field_tag 'phone', params[:phone] %>
	  </div>

	  <div class="row clear">
	    <%= label_tag 'email', I18n.t('contact.email') %>
			<div class="form-help"><%= I18n.t('contact.email_help') %></div>
	    <%= text_field_tag 'email', params[:email] %>
	  </div>

	  <div class="row clear">
	    <%= label_tag 'subject', I18n.t('contact.subject') %>
			<div class="form-help"><%= I18n.t('contact.subject_help') %></div>
			<%= text_field_tag 'subject', params[:subject] %>
	  </div>
	
	  <div class="row clear">
	    <%= label_tag 'message', I18n.t('contact.question') %>
	    <div class="form-help"><%= I18n.t('contact.question_help') %></div>
	    <%= text_area_tag 'message', params[:message] %>
	  </div>

	  <input type="submit" value="<%= I18n.t('general.send') %>" class="button"/>
  
	  <div class="clear"></div>

	<% end -%>
		
</div>