<h2 class="text-sinking2">
  <%= @project.title %> 
  <%= link_to translate('general.inline_edit'), edit_project_path(@project) if @project.can_edit?(current_user) %>
</h2>
<span class="author"><strong>Recreated by:</strong><%= @project.user.display_name %></span> 
<div class="broadcast"> 
	<div class="heading">
	  <h3 class="ico-brodcasts">Upcoming Broadcasts: 
	    <span><%= link_to translate('general.inline_add'), new_project_broadcast_path(@project) if @project.can_edit?(current_user) %></span></h3>
	  <ul class="progress-list">						
      <% @project.broadcasts.each do |broadcast| -%>
      <li> 
        <span class="date"><%= link_to broadcast.start_at.to_s(:long_date), project_broadcast_path(@project, broadcast), :class => 'twitter-ico' %></span> 
     		<ul class="follow-list"> 
     			<li><%= link_to translate('general.follow'), 'http://twitter.com/todo', :class => 'follow' %></li>
     			<li><%= link_to translate('general.edit'), edit_project_broadcast_path(@project, broadcast) if @project.can_edit?(current_user) %></li>
     		</ul> 
     	</li>
      <% end -%>
    </ul>
	</div>
	<p><%= @project.description %></p> 
</div>
<div class="column-holder"> 
	<div class="column"> 
		<h3 class="ico-peoples"><%= link_to 'Historical Figures', project_characters_path(@project) %> 
		  <span><%= link_to translate('general.inline_add'), new_project_character_path(@project) if @project.can_edit?(current_user) %></span></h3> 
		<ul class="cite-list light"> 
			<%= render :partial => 'projects/character', :collection => @characters %>
		</ul>
	</div>
	<div class="column"> 
		<h3 class="ico-comments"><%= link_to 'Historical Timeline', project_items_path(@project) %> 
		  <span><%= link_to translate('general.inline_add'), new_project_item_path(@project) if @project.can_edit?(current_user) %></span></h3> 
		<ul class="cite-list">
		  <%= render :partial => 'projects/item', :collection => @items %> 
		</ul>
		<ul class="links">
		  <li><%= link_to 'Download all events for this re-enactment', project_items_path(@project, :format => 'csv') %></li>
		</ul> 
	</div>
</div>
<!--
<h3 class="ico-doc">Primary Source Links</h3> 
<ul class="links-list">						
  <li><a href="#"><strong>First Flight - Kittyhawk</strong> by Todd Bartlett</a></li>
  <li><a href="#"><strong>Simone Bolivar-Haiti Liberation</strong> by Miss Mitchell’s 8th-grade World History</a></li>
  <li><a href="#"><strong>Columbus 1492</strong> by GEO208 Utah Valley University</a></li>
  <li><a href="#"><strong>Battle of the Bulge</strong> by Maryanne Hanks</a></li>
  <li><a href="#"><strong>Paul Revere’s Ride</strong> by Daughters of the American Revolution - Seattle</a></li>
  <li><a href="#"><strong>Columbia Shuttle Disaster</strong> by Todd Bartlett</a></li>
  <li><a href="#"><strong>Alexander the Great’s March on Moscow</strong> by Twhistory</a></li>
  <li><a href="#"><strong>Flight of the Enola Gay</strong> by Locke HS History Club</a></li>
  <li><a href="#"><strong>Something Else</strong> by Twhistory</a></li>
  <li><a href="#"><strong>Running Out of Ideas</strong> by Todd Bartlett</a></li>
</ul>
--> 
