<h2 class="text-sinking2">
  <%= @project.title %> 
</h2>
<% if admin? -%>
  <% if @project.featured_at.blank? -%>
    <%= form_for(@project) do |f| %>
      <%= hidden_field_tag :mark_featured, true %>
      <%= f.submit translate('projects.feature', :project => @project.title), :class => 'pretty-button green' %>
    <% end %>
  <% else -%>
    <%= form_for(@project) do |f| %>
      <p>Project was marked featured on: <%= @project.featured_at.to_s(:short_date) %></p>
      <%= hidden_field_tag :unmark_featured, true %>
      <%= f.submit translate('projects.unfeature', :project => @project.title), :class => 'pretty-button green' %>
    <% end %>
  <% end -%>
<% end -%>
<% if @project.can_edit?(current_user) %>
  <div class="main-edit">
    <%= button_to translate('general.edit'), edit_project_path(@project), :method => :get, :class => 'pretty-button green' %>
    <%= button_to translate('general.delete'), project_path(@project), :confirm => translate('projects.delete_confirmation'), :method => :delete, :class => 'confirm pretty-button green' %> 
    <%= button_to translate('projects.delete_items'), project_path(@project, :items => true), :confirm => translate('projects.delete_items_confirmation'), :method => :delete, :class => 'confirm pretty-button green' %> 
    <%= button_to translate('projects.delete_characters'), project_path(@project, :characters => true), :confirm => translate('projects.delete_characters_confirmation'), :method => :delete, :class => 'confirm pretty-button green' %>    
  </div>
<% end -%>

<span class="author"><strong>Recreated by:</strong><%= @project.user.display_name %></span> 
<div class="broadcast"> 
	<div class="heading">
	  <h3 class="ico-brodcasts">Upcoming Broadcasts: 
	    <span><%= link_to translate('general.add'), new_project_broadcast_path(@project), :class => 'pretty-button green inline-button add-button' if @project.can_edit?(current_user) %></span></h3>
	  <% if @upcoming_broadcasts.any? -%>
      <ul class="progress-list">
        <%= render :partial => 'broadcasts/broadcast', :collection => @upcoming_broadcasts %>
      </ul>
    <% else -%>
      No current broadcasts
    <% end -%>
    <p><%= link_to 'View All Broadcasts', project_broadcasts_path(@project) %></p>
	</div>
	<p><%= @project.description %></p> 
</div>
<div class="column-holder"> 
	<div class="column"> 
		<h3 class="ico-peoples"><%= link_to 'Historical Figures', project_characters_path(@project) %> 
		  <span><%= link_to translate('general.add'), new_project_character_path(@project), :class => 'pretty-button green inline-button add-button' if @project.can_edit?(current_user) %></span></h3> 
		<ul class="cite-list light"> 
			<%= render :partial => 'projects/character', :collection => @characters %>
		</ul>
	</div>
	<div class="column"> 
		<h3 class="ico-comments"><%= link_to 'Historical Timeline', project_items_path(@project) %> 
		  <span><%= link_to translate('general.add'), new_project_item_path(@project), :class => 'pretty-button green inline-button add-button' if @project.can_edit?(current_user) %></span></h3> 
		<ul class="cite-list">
		  <%= render :partial => 'projects/item', :collection => @items, :locals => { :project => @project } %> 
		</ul>
		<ul class="links">
		  <li><%= link_to 'Download all events for this re-enactment', project_items_path(@project, :format => 'csv') %></li>
		</ul> 
	</div>
</div>
<!--
<h3 class="ico-doc">Primary Source Links</h3> 
<ul class="links-list">						
  <li><a href="#"><strong>First Flight - Kittyhawk</strong> by Todd Bartlett</a></li>
  <li><a href="#"><strong>Simone Bolivar-Haiti Liberation</strong> by Miss Mitchell’s 8th-grade World History</a></li>
  <li><a href="#"><strong>Columbus 1492</strong> by GEO208 Utah Valley University</a></li>
  <li><a href="#"><strong>Battle of the Bulge</strong> by Maryanne Hanks</a></li>
  <li><a href="#"><strong>Paul Revere’s Ride</strong> by Daughters of the American Revolution - Seattle</a></li>
  <li><a href="#"><strong>Columbia Shuttle Disaster</strong> by Todd Bartlett</a></li>
  <li><a href="#"><strong>Alexander the Great’s March on Moscow</strong> by Twhistory</a></li>
  <li><a href="#"><strong>Flight of the Enola Gay</strong> by Locke HS History Club</a></li>
  <li><a href="#"><strong>Something Else</strong> by Twhistory</a></li>
  <li><a href="#"><strong>Running Out of Ideas</strong> by Todd Bartlett</a></li>
</ul>
--> 
