<h2 class="text-sinking2"><%= @project.title %> <%= link_to translate('projects.edit'), edit_project_path(@project) if @project.can_edit?(current_user) %></h2>
<span class="author"><strong>Recreated by:</strong><%= @project.user.display_name %></span> 
<div class="broadcast"> 
	<div class="heading">
	  <a href="#"><strong>Next Broadcast:</strong> April 9, 2011</a> 
	</div><!-- heading --> 
	<p><%= @project.description %></p> 
</div><!-- broadcast --> 
<div class="column-holder"> 
	<div class="column"> 
		<h3 class="ico-peoples"><%= link_to 'Historical Figures', project_characters_path(@project) %> <span><%= link_to translate('projects.add'), new_project_character_path(@project) if @project.can_edit?(current_user) %></span></h3> 
		<ul class="cite-list light"> 
			<%= render :partial => 'projects/character', :collection => @characters %>
		</ul>
	</div>
	<div class="column"> 
		<h3 class="ico-comments"><%= link_to 'Historical Timeline', project_items_path(@project) %> <span><%= link_to translate('projects.add'), project_items_path(@project) if @project.can_edit?(current_user) %></span></h3> 
		<ul class="cite-list">
		  <%= render :partial => 'projects/item', :collection => @items %> 
		</ul><!-- cite list --> 
		<ul class="links">
		  <li><a href="#">View Full Re-Enactment Archive</a></li>
		  <li><a href="#">Download Tweets</a></li>
		</ul> 
	</div><!-- column --> 
</div><!-- column holder --> 
<h3 class="ico-doc">Primary Source Links</h3> 
<ul class="links-list">						
  <li><a href="#"><strong>First Flight - Kittyhawk</strong> by Todd Bartlett</a></li>
  <li><a href="#"><strong>Simone Bolivar-Haiti Liberation</strong> by Miss Mitchell’s 8th-grade World History</a></li>
  <li><a href="#"><strong>Columbus 1492</strong> by GEO208 Utah Valley University</a></li>
  <li><a href="#"><strong>Battle of the Bulge</strong> by Maryanne Hanks</a></li>
  <li><a href="#"><strong>Paul Revere’s Ride</strong> by Daughters of the American Revolution - Seattle</a></li>
  <li><a href="#"><strong>Columbia Shuttle Disaster</strong> by Todd Bartlett</a></li>
  <li><a href="#"><strong>Alexander the Great’s March on Moscow</strong> by Twhistory</a></li>
  <li><a href="#"><strong>Flight of the Enola Gay</strong> by Locke HS History Club</a></li>
  <li><a href="#"><strong>Something Else</strong> by Twhistory</a></li>
  <li><a href="#"><strong>Running Out of Ideas</strong> by Todd Bartlett</a></li>
</ul><!-- links list --> 
