<div class="character-twitter">
  <% if @character.authentication -%>
    <div>
      <p>
        <%= translate('general.connect_to_twitter_msg', :twitter_link => link_to(@character.authentication.nickname, "http://www.twitter.com/#{@character.authentication.nickname}", :target => '_blank')) %>
      </p>
      <% if @can_edit_project -%>
        <p>(All tweets for <%= @character.name %> will be sent to this account).</p>
        <%= link_to translate('general.delete'), authentication_path(@character.authentication), :confirm => translate('general.delete_confirmation'), :method => :delete %>
      <% end -%>
    </div>
  <% elsif @can_edit_project -%>
    <%= link_to translate('characters.link_twitter_account'), new_character_authentication_path(@character), :class => "twitter-ico" %> <%= translate('general.twitter_logout_warning') %>
  <% end -%>
</div>
