<% item = scheduled_item.item %>
<div id="<%=scheduled_item.dom_id%>" class="scheduled-item">
  <div class="visual">
    <%= image_tag item.character.photo.url(:icon) if item.character.photo_file_name %>
  </div>
  <div class="text-holder"> 
    <p><strong class="name"><%= item.character.name %></strong> <%= item.content %></p> 
		<em class="date"> <%= item.event_date_time.to_s(:date_and_time) %></em>
  </div>
  <% if @can_edit_project -%>
    <div class="send-at">
      <%= form_for scheduled_item, :html => { :class => 'ajax' } do |f| -%>
        <label class="date">Send On</label>
        <%= text_field_tag :run_date, just_date(scheduled_item.run_at), { :class => "date_pick" } -%>
        <label class="time">At</label>
        <%= text_field_tag :run_time, just_time(scheduled_item.run_at), { :class => 'time_pick' } %>
        <%= f.submit t('general.update'), :class => 'pretty-button green' %>
      <% end -%>
      <%= button_to translate('general.delete'), scheduled_item_path(scheduled_item), :confirm => translate('general.delete_confirmation'), :method => :delete, :class => 'pretty-button green' %>    
    </div>
	<% end -%>
</div>