<li class="hidden-admin_links"> 
  <strong class="broadcast-title"><%= link_to broadcast.project.title, broadcast.project %></strong>
  <span class="date"><%= format_date_long(broadcast.start_at) %> to <%= format_date_long(broadcast.end_at) %></span>
  <%= render 'projects/options_list', :project => broadcast.project, :broadcast => broadcast, :css => 'follow-list' %>
  <% if broadcast.project.can_edit?(current_user) -%>
    <span class="edit admin-links">
      <%= button_to translate('general.edit'), edit_project_broadcast_path(broadcast.project, broadcast), :method => :get, :class => 'clean-blue' %>
      <%= button_to translate('general.delete'), broadcast_path(broadcast), :confirm => translate('general.delete_confirmation'), :method => :delete, :class => 'clean-blue' %>    
    </span>
  <% end -%>
</li>
