<%= output_errors(translate('broadcasts.new_problem'), {:class => 'help-box'}, @broadcast) %>
<div id="broadcast">
  <h1>Broadcast for <%= link_to @broadcast.project.title, @broadcast.project %></h1>
  <h2>Starts on <%= @broadcast.start_at.to_s(:date_and_time) %></h2>
  
  <%= render 'broadcasts/link_twitter' %>
  
  <% if @broadcast.project.can_edit?(current_user) -%>
  <div class="edit">
    <%#= button_to translate('broadcasts.edit'), edit_broadcast_path(@broadcast.project, @broadcast), :method => :get, :class => 'clean-green' %>
    <%= button_to translate('broadcasts.delete'), broadcast_path(@broadcast), :confirm => translate('general.delete_confirmation'), :method => :delete, :class => 'clean-green' %>
  </div>
  <% end -%>
  
  <h3>Tweet Schedule</h3>
  <%= render @scheduled_items %>
  <%= will_paginate @scheduled_items %>
</div>
<script type="text/javascript" language="JavaScript">
  jQuery(document).ready(function(){
    jQuery('.date_pick').datepicker({
        			changeMonth: true,
        			changeYear: true,
        			numberOfMonths: 3,
              showButtonPanel: true,
              yearRange: 'c-200:c+50'
        		});
        		
    jQuery('.time_pick').timePicker({
              show24Hours: false,
              step: 15});
  });
</script>