<%= output_errors(translate('broadcasts.new_problem'), {:class => 'help-box'}, @broadcast) %>
<div id="broadcast">
  <h1>Broadcast for <%= link_to @broadcast.project.title, @broadcast.project %> <span><%= link_to translate('general.inline_edit'), edit_broadcast_path(@broadcast) %></span></h1>
  <%= render 'broadcasts/link_twitter' %>
  <h3>Tweet Schedule</h3>
  <%= render @scheduled_items %>
  <%= will_paginate @scheduled_items %>
</div>
<script type="text/javascript" language="JavaScript">
  jQuery(document).ready(function(){
    jQuery('.date_pick').datepicker({
        			changeMonth: true,
        			changeYear: true,
        			numberOfMonths: 3,
              showButtonPanel: true,
              yearRange: 'c-200:c+50'
        		});
        		
    jQuery('.time_pick').timePicker({
              show24Hours: false,
              step: 15});
  });
</script>