<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <%= render :partial => 'layouts/global/head' %>
</head>
<body>
  <div id="wrapper">
    <%= render :partial => 'layouts/global/header' %>
    <div id="main">
      <%= render :partial => 'layouts/global/timeline' %>
      <div class="main-holder"> 
    		<div id="content" <%='style="width:888px;"'.html_safe if @sidebar_off %>>
          <%= yield :layout %>
        </div>
    		<%= render :partial => 'layouts/global/side_bar' unless @sidebar_off %>
    	</div>
    </div>
  </div>
  <%= render :partial => 'layouts/global/footer' %>
  <script type="text/javascript" language="JavaScript">
  <%= yield :javascript %>
  </script>
  <%= render :partial => 'layouts/global/google_analytics' %>
</body>
</html>