<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <%= render :partial => 'layouts/global/head' %>
</head>
<body>
  <div id="wrapper">
    <%= render :partial => 'layouts/global/header' %>
    <div id="main"> 
    	<div class="time-line"> 
    		<ul> 
    			<li>1810</li><li>1820</li><li>1830</li><li>1840</li><li>1850</li><li>1860</li><li>1870</li><li>1880</li><li>1890</li><li>1900</li> 
    		</ul> 
    		<a href="#" class="point point1815">1815</a><!-- point --> 
    		<a href="#" class="point point1830">1830</a><!-- point --> 
    		<a href="#" class="point point1847">1847</a><!-- point --> 
    		<a href="#" class="point point1872">1872</a><!-- point --> 
    		<a href="#" class="point point1874">1874</a><!-- point --> 
    		<a href="#" class="point point1896">1896</a><!-- point --> 
    	</div><!-- time line --> 
    	<div class="main-holder"> 
    		<div id="content">
          <%= yield :layout %>
        </div><!-- content -->
    		<%= render :partial => 'layouts/global/side_bar' %>
    	</div><!-- main holder --> 
    </div>
    <%= render :partial => 'layouts/global/footer' %>
  </div>
  <script type="text/javascript" language="JavaScript">
  <%= yield :javascript %>
  </script>
  <%= render :partial => 'layouts/global/google_analytics' %>
</body>
</html>